<div class="row">
	<div class="col s12 m12">
		<div class="card fundoAmarelo">
			<div class="card-content">
				<span class="card-title">{{consultor.nome}}</span>
				<div class="chip" ng-class="{'orange': consultor.status==='Pendente', 'red': consultor.status==='Inativo', 'green': consultor.status==='Aprovado'}">
							{{consultor.status}}
				</div>
				<div class="card center-align fundoAmarelo">
					<div class="card-content">
					<span class="card-title">Próximo Acerto</span>
						<h5>{{consultor.proxAcerto | date: "d/MM/yy"}}</h5>
						<h5>Faltam {{ faltamDias(consultor.proxAcerto)}} dias</h5>
						<h5>Valor devido: {{valores.devido | currency: 'R$'}}</h5>
						<h5>Total vendido: {{consultor.totalVendido | currency: 'R$'}}</h5>
					</div>
				</div>
				<div class="row center-align">
					<a class="waves-effect waves-light btn" ng-click="modalAcerto()">Realizar acerto</a>
					<a class="waves-effect waves-light btn" ng-click="modalEncomenda()">Alocar peças</a> 
                    <a class="waves-effect waves-light btn" ng-click="modalEstorno()">Estorno de venda</a>
                    <a ng-hide="consultor.estoque.length==0" class="waves-effect waves-light btn" ng-click="recolherPecas()">Recolher kit</a>
					<!--<a class="waves-effect waves-light btn">Troca de peça</a>-->
				</div>
                
				<table class="responsive-table white">
					<thead>
					<tr>
						<th data-field="cpf">CPF</th>
						<th data-field="email">Email</th>
						<th data-field="nome">Cidade</th>
						<th data-field="whatsapp">Whatsapp</th>
						<th data-field="endereco">Endereço</th>
						<th data-field="cep">Cep</th>
					</tr>
					</thead>

					<tbody>
					<tr>
						<td>{{consultor.cpf}}</td>
						<td>{{consultor.email}}</td>
						<td>{{consultor.cidade}}</td>
						<td>{{consultor.whatsapp}}</td>
						<td>{{consultor.endereco}}</td>
						<td>{{consultor.cep}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
        <div class="fixed-action-btn horizontal click-to-toggle botaoAlto">
            <a class="btn-floating btn-large botaoAmarelo">
                <i class="material-icons">menu</i>
            </a>
                <ul>
                    <li><a class="btn-floating fundoBranco tooltipped" data-position="left" data-delay="100" data-tooltip="Excluir" ng-click="del()"><i class="large material-icons textoVermelho">delete_sweep</i></a>
                    <li><a class="btn-floating fundoBranco tooltipped" data-position="bottom" data-tooltip="Editar"ng-click="modalProxAcerto()"><i class="material-icons textoAmarelo">create</i></a></li>
                    <li><a class="btn-floating fundoBranco tooltipped" data-position="bottom" data-tooltip="Recuperar Senha" ng-click="recoverPassword()"><i class="material-icons textoAmarelo">autorenew</i></a></li>
                </ul>
        </div>
</div>

<div class="row">
        <div class="col s12 m12">
            <div class="card fundoAmarelo">
                <div class="card-content">
                    <span class="card-title">Kits</span>
                    <div class="row fundoBranco">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col m3 s6"><a class="active clicavel" ng-click="status=['Entregue', 'Pendente']">Todas</a></li>
                                <li class="tab col m2 s6"><a class="clicavel" ng-click="status=['Entregue']">Entregue</a></li>
                                <li class="tab col m2 s6"><a class="clicavel" ng-click="status=['Pendente']">Pendentes</a></li>
                            </ul>
                        </div>
                        <div class="collection">
                                <a class="textoPreto collection-item avatar" ng-repeat="kit in kits | orderBy:'-createdAt' | filter:filtroStatus">
                                    <i class="material-icons circle">work</i>
                                    <div class="row">
                                        <div class="col s6">
                                                <span class="title">{{kit.createdAt | date:'dd/MM/yyyy'}}</span>
                                            </br>
                                            <div class="chip tooltipped" ng-class="{'orange': kit.status==='Pendente', 'green': kit.status==='Entregue'}" >
                                                {{kit.status}}
                                            </div>
                                        </div>
                                        <div class="col s6">
                                                <button ng-show="kit.status=='Pendente'" class="btn-floating btn waves-effect waves-light botaoAmarelo right" ng-click="enviaKit(kit)"><i class="material-icons">send</i></button>
                                                <button class="btn-floating btn waves-effect waves-light botaoAmarelo right" ng-click="mostraTabelaPecas(kit)"><i class="material-icons" title="Ver peças">assignment</i></button>
                                        </div>
                                    </div>
                                </a>
                            </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>




<div class="row">
	<div class="col s12 m12">
		<div class="card fundoAmarelo">
			<div class="card-content">
				<span class="card-title">Acertos</span>
				<div class="chip white">
					Vendido no ano: {{vendidoAno | currency:'R$'}}
				</div>
				<div class="collection">
					<a class="textoPreto collection-item avatar" ng-repeat="acerto in acertos | orderBy:'-createdAt'">
						<i class="material-icons circle green">done</i>
						<span class="title strong">Data: {{acerto.createdAt | date: "d/MM/yy"}}</span>
						<div class="row">
							<div class="col s6 m4">
								<p>
                                    </br>
									Valor vendido:{{acerto.valor | currency:'R$'}}</br>
									Valor pago: {{acerto.pago | currency:'R$'}}
								</p>
							</div>
						</div>
					</a>
				</div>                 
			</div>
		</div>
	</div>
</div>
<div class="row">
        <div class="col s12 m12">
            <div class="card center-align fundoAmarelo">
                <div class="card-content">
                    <div class="row">
                        <div class="col m5 s12">
                            <h3>Estoque</h3>
                            <tabela-pecas pecas='consultor.estoque'></tabela-pecas>
                        </div>
                        <div class="col m5 s12 offset-m1">
                            <h3>Vendido</h3>
                            <tabela-pecas pecas='consultor.vendido'></tabela-pecas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="excluir" class="modal">
    <div class="modal-content">
      <h4>Excluir</h4>
      <p>Tem certeza que deseja excluir o Consultor?</p>
    </div>
    <div class="modal-footer">
      <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="desaprovar()">Excluir</a>
	  <a href="" class=" modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
  </div>


<div id="enviar" class="modal modal-fixed-footer" >
	<div class="modal-content">
				<div class="center-align">
					<h3>Alocação de Peças</h3>
						<div class="input-field">	
							<select style="display:block !important" id="item" ng-model="codigo" ng-options="peca.val as peca.label for peca in opcoesPecas">
								
							</select>
						</div>
					<div class="row">
						<div class="col m6">
							<div class="chip">
								<i class="material-icons left">business_center</i>
								Estoque
							</div>
						</div>							
						<div class="col m6">
							<div class="chip">
								<i class="material-icons left">person</i>
								{{consultor.nome}}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s6 m6">
							<div class="card  center-align z-depth-5">
								<div class="card-content">
									<span class="card-title">{{encomenda.item}}
									</span>
									<div class="chip green clicavel" ng-repeat="peca in estoqueTemp| orderBy:extraiPreco | filter:porItem track by $index " ng-click="enviado(peca)">
										{{extraiPreco(peca) | currency: 'R$'}}
									</div>
								</div>
							</div>
						</div>
						<div class="col s6 m6">
							<div class="card  center-align z-depth-5">
								<div class="card-content">
									<span class="card-title">{{encomenda.item}}
									</span>
									<div class="chip red clicavel" ng-repeat="peca in pecasEnviadas| orderBy:extraiPreco | filter:porItem track by $index " ng-click="devolvido(peca)">
										{{extraiPreco(peca) | currency: 'R$'}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	</div>
	<div class="modal-footer">
		<a class="waves-effect waves-light btn btn-small botaoVerde" ng-click="enviar()"><i class="material-icons left">send</i> Enviar</a>
		<a class="modal-close waves-effect waves-red btn-flat" >Cancelar</a>
	</div>
</div>

<div id="acerto" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="center-align">
            <h4>Realizar acerto</h4>
            <p class="red">Atenção! Essa ação não pode ser desfeita</p>
            <div class="row">
                <div class="col s12">     
                    <!-- <p>Valor a 20%: {{valores.vinte | currency: 'R$'}}</p>  
                    <p>Valor a 25%: {{valores.vinteCinco | currency: 'R$'}}</p>  
                    <p>Valor a 30%: {{valores.trinta | currency: 'R$'}}</p>   -->
                    <h5>Total: {{valores.devido | currency: 'R$'}}</h5>  
                </div>        
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <a href="" class=" waves-effect waves-green btn btn-small botaoVerde" ng-click="acerto()">Concluir</a>
	  <a href="" class=" modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
  </div>
  
  <div id="dataAcerto" class="modal modal-fixed-footer center-align">
    <div class="modal-content">
      <h4>Selecione a nova data</h4>
      <div class="input-field">
            <label   for="nascimento">Nova data</label>	
            <input type="date" class="datepicker" ng-model="novaData" name="novaData" required>
        </div>
    </div>
    <div class="modal-footer center-align">
      <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="novoAcerto();">Confirmar</a>
	  <a href="" class=" modal-close waves-effect waves-red btn-flat" ng-click="">Cancelar</a>
    </div>
  </div>

  <div id="editar" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>Editar Consultor</h4>
        {{novo.proxAcerto}}
		<form ng-submit="novoProxAcerto()" name="formEdit" id="formEdit">
			<div class="input-field">
				<label   for="proxAcerto">Data de acerto</label>	
				<input type="date" class="datepicker" ng-model="novo.proxAcerto" name="proxAcerto" ng-model-options="{timezone:'UTC'}" required>
			</div>
	    </form>
	</div>
	<div class="modal-footer">
		<input class="waves-effect waves-green btn-flat" type="submit" form="formEdit" value="Pronto!"/>
		<a class="modal-close waves-effect waves-red btn-flat" >Cancelar</a>
	</div>
</div>

<div id="tabelaPecas" class="modal">
	<div class="modal-content">
		<h4>Kit - {{kitSelecionado.createdAt | date:'dd/MM/yyyy'}}</h4>
		<tabela-pecas pecas='kitSelecionado.pecas'></tabela-pecas>
	</div>
</div>

<estorno-modal></estorno-modal>