<div class="row">
	<div class="col s12 m12">
		<div class="card fundoAmarelo">
			<div class="card-content">
				<span class="card-title">{{consultor.nome}}</span>
				<div class="chip" ng-class="{'orange': consultor.status==='Pendente', 'red': consultor.status==='Inativo', 'green': consultor.status==='Aprovado'}">
							{{consultor.status}}
				</div>
				<div class="card center-align fundoAmarelo">
					<div class="card-content">
					<span class="card-title">Próximo Acerto</span>
						<h5>{{consultor.proxAcerto | date: "d/MM/yy"}}</h5>
						<h5>Faltam {{ faltamDias(consultor.proxAcerto)}} dias</h5>
						<h5>Valor devido: {{devido | currency: 'R$'}}</h5>
						<h5>Total vendido: {{consultor.totalVendido | currency: 'R$'}}</h5>
					</div>
				</div>
				<div class="row center-align">
					<a class="waves-effect waves-light btn" ng-click="modalAcerto()">Realizar acerto</a>
					<a class="waves-effect waves-light btn" ng-click="modalEncomenda()">Alocar peças</a> 
					<!--<a class="waves-effect waves-light btn">Verificar venda</a>-->
					<!--<a class="waves-effect waves-light btn">Troca de peça</a>-->
				</div>
                <div class="row center align" ng-show="consultor.taxa>0">
                    <p>Taxa de entrada:{{consultor.taxa | currency:'R$'}} ({{consultor.tipoTaxa}})</p>
                </div>
                <div class="row center align" ng-if="consultor.taxa>300">
                    <p class="col s12 m4">
                        <input name="tipo" type="radio"  value="À vista" id="vista" ng-model="consultor.tipoTaxa" ng-change="mudaTaxa()"/>
                        <label for="vista">À vista</label>
                    </p>
                    <p class="col s12 m4">
                        <input name="tipo" type="radio"  value="Primeiro pagamento" id="primeiro" ng-model="consultor.tipoTaxa" ng-change="mudaTaxa()"/>
                        <label for="primeiro">Primeiro pagamento</label>
                    </p>
                    <p class="col s12 m4">
                        <input name="tipo" type="radio"  value="Porcentagem" id="porcentagem" ng-model="consultor.tipoTaxa" ng-change="mudaTaxa()"/>
                        <label for="porcentagem">Porcentagem</label>
                    </p>
                </div>
				<table class="responsive-table white">
					<thead>
					<tr>
						<th data-field="nome">Cidade</th>
						<th data-field="whatsapp">Whatsapp</th>
						<th data-field="endereco">Endereço</th>
						<th data-field="cep">Cep</th>
					</tr>
					</thead>

					<tbody>
					<tr>
						<td>{{consultor.cidade}}</td>
						<td>{{consultor.whatsapp}}</td>
						<td>{{consultor.endereco}}</td>
						<td>{{consultor.cep}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
        <div class="fixed-action-btn horizontal click-to-toggle botaoAlto">
            <a class="btn-floating btn-large botaoAmarelo">
                <i class="material-icons">menu</i>
            </a>
                <ul>
                    <li><a class="btn-floating fundoBranco tooltipped" data-position="left" data-delay="100" data-tooltip="Excluir" ng-click="del()"><i class="large material-icons textoVermelho">delete_sweep</i></a>
                    <li><a class="btn-floating fundoBranco" ng-click="modalProxAcerto()"><i class="material-icons textoAmarelo">create</i></a></li>
                </ul>
        </div>
</div>

<div class="row">
	<div class="col s12 m12">
		<div class="card fundoAmarelo">
			<div class="card-content">
				<span class="card-title">Acertos</span>
				<div class="chip white">
					Vendido no ano: {{vendidoAno | currency:'R$'}}
				</div>
				<div class="collection">
					<a class="textoPreto collection-item avatar" ng-repeat="acerto in acertos | orderBy:'-createdAt'">
						<i class="material-icons circle green">done</i>
						<span class="title strong">Data: {{acerto.createdAt | date: "d/MM/yy"}}</span>
						<div class="row">
							<div class="col s6 m4">
								<p>
                                    </br>
									Valor pago:{{acerto.valor | currency:'R$'}}
								</p>
							</div>
						</div>
					</a>
				</div>                 
			</div>
		</div>
	</div>
</div>

<div class="row">
        <div class="col s12 m12">
            <div class="card center-align fundoAmarelo">
                <div class="card-content">
                    <div class="row">
                        <div class="col m5 s12">
                            <h3>Estoque</h3>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Anéis ({{pecas.totais.aneis}})</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.aneis | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Brincos P ({{pecas.totais.brincosP}})</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.brincosP | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Brincos G ({{pecas.totais.brincosG}})</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.brincosG | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Cordões Fem. ({{pecas.totais.cordoesF}})</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.cordoesF | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Cordões Masc. ({{pecas.totais.cordoesM}})</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.cordoesM | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Pingentes ({{pecas.totais.pingentes}})</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.pingentes | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Pulseiras Fem. ({{pecas.totais.pulseirasF}})</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.pulseirasF | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Pulseiras Masc. ({{pecas.totais.pulseirasM}})</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.pulseirasM | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Tornozeleiras ({{pecas.totais.tornozeleiras}})</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.tornozeleiras | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Escapulários ({{pecas.totais.escapularios}})</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.escapularios | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Personalizadas ({{pecas.totais.personalizadas}})</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.personalizadas | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                        </div>
                        <div class="col m5 s12 offset-m1">
                            <h3>Vendido</h3>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Anéis ({{vendidas.totais.aneis}})</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.aneis | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Brincos P ({{vendidas.totais.brincosP}})</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.brincosP | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Brincos G ({{vendidas.totais.brincosG}})</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.brincosG | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Cordões Fem. ({{vendidas.totais.cordoesF}})</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.cordoesF | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Cordões Masc. ({{vendidas.totais.cordoesM}})</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.cordoesM | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Pingentes ({{vendidas.totais.pingentes}})</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.pingentes | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Pulseiras Fem. ({{vendidas.totais.pulseirasF}})</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.pulseirasF | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Pulseiras Masc. ({{vendidas.totais.pulseirasM}})</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.pulseirasM | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Tornozeleiras ({{vendidas.totais.tornozeleiras}})</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.tornozeleiras | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Escapulários ({{vendidas.totais.escapularios}})</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.escapularios | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Personalizadas ({{vendidas.totais.personalizadas}})</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.personalizadas | orderBy:'-val'"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="excluir" class="modal">
    <div class="modal-content">
      <h4>Excluir</h4>
      <p>Tem certeza que deseja excluir o Consultor?</p>
    </div>
    <div class="modal-footer">
      <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="excluir()">Excluir</a>
	  <a href="" class=" modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
  </div>


<div id="enviar" class="modal modal-fixed-footer" >
	<div class="modal-content">
				<div class="center-align">
					<h3>Alocação de Peças</h3>
						<div class="input-field">	
							<select style="display:block !important" id="item" ng-model="codigo" ng-options="peca.val as peca.label for peca in opcoesPecas">
								
							</select>
						</div>
					<div class="row">
						<div class="col m6">
							<div class="chip">
								<i class="material-icons left">business_center</i>
								Estoque
							</div>
						</div>							
						<div class="col m6">
							<div class="chip">
								<i class="material-icons left">person</i>
								{{consultor.nome}}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s6 m6">
							<div class="card  center-align z-depth-5">
								<div class="card-content">
									<span class="card-title">{{encomenda.item}}
									</span>
									<div class="chip green clicavel" ng-repeat="peca in estoqueTemp| orderBy:extraiPreco | filter:porItem track by $index " ng-click="enviado(peca)">
										{{extraiPreco(peca) | currency: 'R$'}}
									</div>
								</div>
							</div>
						</div>
						<div class="col s6 m6">
							<div class="card  center-align z-depth-5">
								<div class="card-content">
									<span class="card-title">{{encomenda.item}}
									</span>
									<div class="chip red clicavel" ng-repeat="peca in pecasEnviadas| orderBy:extraiPreco | filter:porItem track by $index " ng-click="devolvido(peca)">
										{{extraiPreco(peca) | currency: 'R$'}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	</div>
	<div class="modal-footer">
		<a class="waves-effect waves-light btn btn-small botaoVerde" ng-click="enviar()"><i class="material-icons left">send</i> Enviar</a>
		<a class="modal-close waves-effect waves-red btn-flat" >Cancelar</a>
	</div>
</div>

<div id="acerto" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="center-align">
            <h4>Realizar acerto</h4>
            <p class="red">Atenção! Essa ação não pode ser desfeita</p>
            <div class="row">
                <div class="col s12">     
                    <h5>Valor do acerto: {{devido | currency: 'R$'}}</h5>
                    <p ng-show="consultor.taxa > 0">Pagamento de taxa: {{parcelaTaxa | currency: 'R$'}}</p>  
                    <h5 ng-show="consultor.taxa > 0">Total: {{devido + parcelaTaxa | currency: 'R$'}}</h5>  
                </div>        
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <a href="" class=" waves-effect waves-green btn btn-small botaoVerde" ng-click="acerto()">Concluir</a>
	  <a href="" class=" modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
  </div>

  <div id="avista" class="modal center-align">
    <div class="modal-content">
      <h4>Pagamento a vista</h4>
      <p>Confirmar recebimento a vista de 330 reais?</p>
    </div>
    <div class="modal-footer center-align">
      <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="confirmaPagamento();">Confirmar</a>
	  <a href="" class=" modal-close waves-effect waves-red btn-flat" ng-click="consultor.taxa = 350; consultor.tipoTaxa = 'Primeiro pagamento'">Cancelar</a>
    </div>
  </div>
  
  <div id="dataAcerto" class="modal modal-fixed-footer center-align">
    <div class="modal-content">
      <h4>Selecione a nova data</h4>
      <div class="input-field">
            <label   for="nascimento">Nova data</label>	
            <input type="date" class="datepicker" ng-model="novaData" name="novaData" required>
        </div>
    </div>
    <div class="modal-footer center-align">
      <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="novoAcerto();">Confirmar</a>
	  <a href="" class=" modal-close waves-effect waves-red btn-flat" ng-click="">Cancelar</a>
    </div>
  </div>

  <div id="editar" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>Editar Consultor</h4>
        {{novo.proxAcerto}}
		<form ng-submit="novoProxAcerto()" name="formEdit" id="formEdit">
			<div class="input-field">
				<label   for="proxAcerto">Data de acerto</label>	
				<input type="date" class="datepicker" ng-model="novo.proxAcerto" name="proxAcerto" ng-model-options="{timezone:'UTC'}" required>
			</div>
	    </form>
	</div>
	<div class="modal-footer">
		<input class="waves-effect waves-green btn-flat" type="submit" form="formEdit" value="Pronto!"/>
		<a class="modal-close waves-effect waves-red btn-flat" >Cancelar</a>
	</div>
</div>