<div class="row">
	<div class="col s12 m6">
		<div class="card small center-align fundoAmarelo">
			<div class="card-content">
				<span class="card-title">Minha Parte</span>		
				</br>
				<h1>{{usuario.porcentagem*consultores.valorVendido/100 | currency: 'R$'}}</h1>                   
			</div>
		</div>
	</div>
	<div class="col s12 m6">
		<div class="card small center-align fundoAmarelo">
			<div class="card-content">
			<span class="card-title">Próximo Acerto</span>
				<h1>{{usuario.proxAcerto | date: "d/MM/yy"}}</h1>		
				<h5>Faltam {{faltamDias(usuario.proxAcerto)}} dias</h5>
				<h5>Valor devido: {{consultores.valorVendido - (consultores.valorVendido*usuario.porcentagem)/100 - consultores.totalGanho | currency: 'R$'}}</h5>
			</div>
		</div>
	</div>
</div>
<div class="row center-align"><a class="waves-effect waves-light btn" ui-sref="Estoque">Ver Estoque</a> <a class="waves-effect waves-light btn" ui-sref="Consultores">Ver Consultores</a></div>
<div class="row">
	<div class="col s12 m3">
		<div class="card center-align fundoAmarelo" ng-click="irPara('Estoque');">
			<div class="card-content">
				<span class="card-title">Peças comigo</span>
				<h1>{{usuario.estoque.length}}</h1>
			</div>
		</div>
	</div>
	<div class="col s12 m3">
		<div class="card center-align fundoAmarelo" ng-click="irPara('Consultores');">
			<div class="card-content">
				<span class="card-title">Consultores</span>
				<h1>{{consultores.total}}</h1>
			</div>
		</div>
	</div>
	<div class="col s12 m6">
		<div class="card center-align fundoAmarelo" ng-click="irPara('Consultores');">
			<div class="card-content">
				<span class="card-title">Peças com Consultores</span>
				<h2>{{consultores.totalPecas}}/{{consultores.totalPecas+consultores.totalVendido}}</h2>
				<p>Vendido: {{consultores.valorVendido | currency: 'R$'}}</p>
			</div>
		</div>
	</div>
</div>