<div class="row">
	<div class="col s12 m12">
		<div class="card fundoAmarelo">
			<div class="card-content">
				<span class="card-title">Acertos</span>
				<div class="chip white">
					Vendido no ano: {{vendidoAno | currency:'R$'}}
				</div>
				<div class="collection">
					<a class="textoPreto collection-item avatar" ng-repeat="acerto in acertos">
						<i class="material-icons circle green">done</i>
						<span class="title strong">Data: {{acerto.createdAt | date: "d/MM/yy"}}</span>
						<div class="row">
							<div class="col s6 m4">
								<p>
                                    </br>
									Valor pago:{{acerto.valor | currency:'R$'}}
								</p>
							</div>
						</div>
					</a>
				</div>                 
			</div>
		</div>
	</div>
</div>