<div class="fixed-action-btn venda">
	<a ng-click="modalVenda()" class="btn-floating btn-large fundoBranco waves-effect waves-light tooltipped " data-position="left"
	 data-delay="100" data-tooltip="Vender!">
		<i class="large material-icons textoAmarelo">attach_money</i>
	</a>
</div>

<div class="row" ng-show="usuario.status!=='Aprovado'">
	<div class="col s12 m8 offset-m2">
		<div class="card center-align red">
			<div class="card-content">
				<h5>Aguardando aprovação</h5>
			</div>
		</div>
	</div>
</div>
<span ng-if="usuario.status==='Aprovado'">


	<!-- diretiva de brinde urgente -->

	<div ng-if="!usuario.email" class="row" id="cadastroEmail">
		<div class="col s12 m8 offset-m2">
			<div class="card notificacaoBoa center-align">
				<form ng-submit="cadastraEmail()">
					<div class="card-content">
						<span class="card-title">Por favor, cadastre seu email</span>
						<input placeholder="Email" type="email" ng-model="novo.email" required>
					</div>
					<div class="card-action">
						<input type="submit" value="Cadastrar" class="btn" ng-disabled="!novo.email">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div ng-if="usuario.brindesPendentes[0].campanha==='mil'" class="row" id="brindeMil">
		<div class="col s12 m8 offset-m2">
			<div class="card notificacaoBoa center-align">
				<p>
					<span class=" badge fundoAmarelo textoBranco" data-badge-caption="brinde(s) pendente(s)">{{usuario.brindesPendentes.length}}</span>
				</p>
				<div class="card-content">
					<span class="card-title">Parabéns!</span>
					<p>Você altingiu</p>
					<h1>R$1.000</h1>
					<p>em vendas!</p>
				</div>
				<div class="card-action">
					<a class="waves-effect waves-light btn" ng-click="modalBrinde('mil')">
						<i class="material-icons left">card_giftcard</i>Pegar brinde!</a>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="usuario.brindesPendentes[0].campanha==='maleta'" class="row" id="brindeMaleta">
		<div class="col s12 m8 offset-m2">
			<div class="card notificacaoBoa center-align">
				<p>
					<span class=" badge fundoAmarelo textoBranco" data-badge-caption="brinde(s) pendente(s)">{{usuario.brindesPendentes.length}}</span>
				</p>
				<div class="card-content">
					<span class="card-title">Parabéns!</span>
					<p>Você altingiu</p>
					<h1>R$1.500</h1>
					<p>em vendas!</p>
				</div>
				<div class="card-action">
					<a class="waves-effect waves-light btn" ng-click="pedeMaleta()">
						<i class="material-icons left">card_giftcard</i>Solicitar Maleta!</a>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="usuario.brindesPendentes[0].campanha==='maes'" class="row" id="brindeNatal">
		<div class="col s12 m8 offset-m2">
			<div class="card notificacaoBoa center-align">
				<p>
					<span class=" badge fundoAmarelo textoBranco" data-badge-caption="brinde(s) pendente(s)">{{usuario.brindesPendentes.length}}</span>
				</p>
				<div class="card-content">
					<span class="card-title">Brinde do mês das Mães!</span>
					<p>Venda com um valor maior que</p>
					<h1>R$100</h1>
					<p>Dê um brinde para seu cliente!</p>
				</div>
				<div class="card-action">
					<a class="waves-effect waves-light btn" ng-click="modalBrinde('maes')">
						<i class="material-icons left">card_giftcard</i>Pegar brinde!</a>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="usuario.brindesPendentes[0].campanha==='maes5'" class="row" id="brindeNatal">
		<div class="col s12 m8 offset-m2">
			<div class="card notificacaoBoa center-align">
				<p>
					<span class=" badge fundoAmarelo textoBranco" data-badge-caption="brinde(s) pendente(s)">{{usuario.brindesPendentes.length}}</span>
				</p>
				<div class="card-content">
					<span class="card-title">Brinde do mês das Mães!</span>
					<p>Você já etregou</p>
					<h1>5 brindes</h1>
					<p>Hora de pegar um pra você!</p>
				</div>
				<div class="card-action">
					<a class="waves-effect waves-light btn" ng-click="modalBrinde('maes5')">
						<i class="material-icons left">card_giftcard</i>Pegar brinde!</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m8 offset-m2">
			<div class="card center-align fundoAmarelo">
				<div class="card-content">
					<div class="row">
						<h1>{{usuario.nome}}</h1>
						<div class="medalha">
							<object ng-show="nivelConsultor == 'Ouro'" id="ouro" data="../../img/sol_ouro.svg" type="image/svg+xml"></object>
							<object ng-show="nivelConsultor == 'Ouro' || nivelConsultor == 'Prata'" id="prata" data="../../img/sol_prata.svg" type="image/svg+xml"></object>
							<object id="bronze" data="../../img/sol_bronze.svg" type="image/svg+xml"></object>


						</div>
						<strong>Consultor {{nivelConsultor}} - {{porcentagem}}</strong>
					</div>
					<div class="row" ng-if="maxAbsoluto!=0">
						<div id="timeline">
							<p class="progresso">{{(vendidoHistorico + usuario.totalVendido) | currency:'R$'}}</p>
							<small class="progresso">(total vendido acumulado)</small>
							<div class="dot accomplished" style="left:{{(vendidoHistorico + usuario.totalVendido)*100/maxAbsoluto}}%">
								<span></span>
							</div>
							<div class="dot" style="left:100%">
								<span></span>
								<date>{{maxAbsoluto | currency:'R$'}}</date>
							</div>
							<div class="inside" style="width: {{(vendidoHistorico + usuario.totalVendido)*100/maxAbsoluto}}%"></div>
						</div>
					</div>
					<div class="row" ng-if="maxAbsoluto==0">
						<div id="timeline">
							<p class="progresso">{{usuario.totalVendido | currency:'R$'}}</p>
							<small class="progresso">(total vendido na temporada)</small>
							<div class="dot accomplished" style="left:{{usuario.totalVendido*100/maxRelativo}}%">
								<span></span>
							</div>
							<div class="dot" style="left:100%">
								<span></span>
								<date>{{maxRelativo | currency:'R$'}}</date>
							</div>
							<div class="inside" style="width: {{usuario.totalVendido*100/maxRelativo}}%"></div>
						</div>
					</div>
					<div class="row marker-container" ng-if="maxAbsoluto!=0">
						<span ng-repeat="cBrinde in usuario.brindesEntregues" ng-if="cBrinde.valorAbsoluto>0">
							<div class="speech-bubble textoAmarelo" style="left:{{(cBrinde.valorAbsoluto)*90/maxAbsoluto}}%">
								<i class="material-icons">{{cBrinde.campanha == 'maleta' ? 'business_center' : 'card_giftcard'}}</i>
								<label>{{cBrinde.valorAbsoluto | currency:'R$'}}</label>
							</div>
						</span>
					</div>
					<div class="row marker-container" ng-if="maxAbsoluto==0">
						<span ng-repeat="cBrinde in usuario.brindesEntregues" ng-if="(cBrinde.valorAbsoluto - vendidoHistorico) > 0">
							<div class="speech-bubble textoAmarelo" style="left:{{(cBrinde.valorAbsoluto - vendidoHistorico)*90/maxRelativo}}%">
								<i class="material-icons">{{cBrinde.campanha == 'maleta' ? 'business_center' : 'card_giftcard'}}</i>
								<label>{{cBrinde.valorAbsoluto - vendidoHistorico | currency:'R$'}}</label>
							</div>
						</span>

					</div>
					<div class="row">
						<div class="chip left score" ng-show="usuario.brindesMil.length>0">
							<i class="material-icons left">card_giftcard</i>
							<label>{{usuario.brindesMil.length}} brinde(s) de R$1000 em vendas</label>
						</div>
						<div class="chip left score" ng-show="usuario.brindesMaes.length>0">
							<i class="material-icons left">card_giftcard</i>
							<label>{{usuario.brindesMaes.length}} brinde(s) do Dia das Mães</label>
						</div>
						<div class="chip left score" ng-show="usuario.brindesNatal.length>0">
							<i class="material-icons left">card_giftcard</i>
							<label>{{usuario.brindesNatal.length}} brinde(s) de Natal</label>
						</div>
						<!-- <div class="chip left score">
							<i class="material-icons left">card_giftcard</i>
							<label>{{usuario.brindesEntregues.length}} brinde(s) entregue(s)</label>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m8 offset-m2">
			<div class="card center-align fundoAmarelo ">
				<div class="card-content">
					<span class="card-title">Estoque</span>
					<h1>{{usuario.vendido.length}} / {{usuario.estoque.length + usuario.vendido.length}}</h1>
				</div>
				<div class="card-action">
					<a class="waves-effect waves-light btn" ui-sref="Estoque">Ver detalhes</a>
					<a class="waves-effect waves-light btn" ng-click="modalTroca()">
						<i class="material-icons left">import_export</i>Trocar peça</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="encomendasPendentes.length>0">
		<div class="col s12 m8 offset-m2">
			<div class="card fundoAmarelo">
				<div class="card-content">
					<span class="card-title">Personalizados</span>
					<ul class="collection">
						<li class="textoPreto collection-item avatar row" ng-repeat="encomenda in encomendas | orderBy: '-createdAt' | filter:filtroStatus as encomendasPendentes">
							<i class="material-icons circle">star</i>
							<p>
								<span class="title strong">{{encomenda.detalhes}}</span>
								<br>
								<div class="chip">
									{{encomenda.createdAt | date: "d/MM/yy"}} (Data do Pedido)
								</div>
								<br>
								<button class="btn" ng-click="vendaPersonalizado(encomenda)" ng-disabled="encomenda.status!='Enviada'">Entregar</button>

							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m8 offset-m2">
			<div class="card center-align fundoAmarelo">
				<div class="card-content">
					<span class="card-title">Vendas</span>
					<h4></h4>
					<h1>{{usuario.totalVendido | currency: 'R$'}}</h1>
					<div class="row">
						<div class="col s12 m6">
							<div class="card center-align fundoAmarelo">
								<div class="card-content">
									<span class="card-title">Minha parte</span>
									<h4>{{(valores.minhaParte) | currency: 'R$'}}</h4>
									<p ng-show="usuario,.desconto != 0">(Indicação: {{usuario.desconto | currency:'R$'}})</p>
								</div>
							</div>
						</div>
						<div class="col s12 m6">
							<div class="card center-align fundoAmarelo">
								<div class="card-content">
									<span class="card-title">A pagar</span>
									<h4>{{valores.devido | currency: 'R$'}}</h4>
									<br ng-show="usuario,.desconto != 0">
								</div>
							</div>
						</div>
					</div>
					<h5>Próximo Acerto em {{ faltamDias(usuario.proxAcerto)}} dias!
						<br> {{usuario.proxAcerto | date: "d/MM/yy"}}
					</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m8 offset-m2">
			<div class="card center-align fundoAmarelo ">
				<div class="card-content">
					<span class="card-title">Meu supervisor</span>
					<table class="responsive-table">
						<thead>
							<tr>
								<th data-field="nome">Nome</th>
								<th data-field="whatsapp">Whatsapp</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>{{supervisor.nome}}</td>
								<td>{{supervisor.whatsapp}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</span>



<div id="venda" class="modal bottom-sheet modal-fixed-footer">
	<div class="modal-content center-align">
		<form ng-submit="entrada()" id="entradaForm">
			<div class="input-field col m8 s12 offset-m2">
				<a id="cameraBotao" class="waves-effect waves-teal btn-flat btn-large textoAmarelo right" ng-click="entradaCamera()">
					<i class="material-icons">camera_alt</i>
				</a>
				<input placeholder="Código" id="codigo" type="text" ng-model="codigo" style="text-transform:uppercase" pattern="[A-Za-z]{2}[0-9]{3,6}"
				 title="Código inválido" required>
				<div class="chip" ng-repeat="codigo in adicionando track by $index">
					{{codigo}}
					<i class="right material-icons clicavel" ng-click="deletaElemento(adicionando, $index)">close</i>
				</div>
				<br>
				<button type="submit" class="btn-floating btn-large waves-effect waves-light botaoAmarelo">
					<i class="material-icons">add</i>
				</button>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<a class="waves-effect waves-light btn" ng-click="vender()" ng-class="{'disabled': adicionando.length<=0}">
			<i class="material-icons left">done</i>Concluir</a>
		<a class="waves-effect waves-light btn-flat modal-close">
			<i class="material-icons left">close</i>Cancelar</a>
	</div>
</div>

<div id="modalCamera" class="modal modal-fixed-footer">
	<div class="modal-content">
		<div id="camera"></div>
	</div>
	<div class="modal-footer center-align">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="fechaCamera()">Cancelar</a>
	</div>
</div>

<div id="brinde" class="modal bottom-sheet">
	<div class="modal-content center-align">
		<form ng-submit="pegaBrinde()" id="brindeForm">
			<div class="input-field col m8 s12 offset-m2">
				<!--<a id="cameraBotao" class="waves-effect waves-teal btn-flat btn-large textoAmarelo right" ng-click="entradaCamera()"><i class="material-icons">camera_alt</i></a>-->
				<select style="display:block" ng-model="codigoBrinde" name="item" ng-show="tipoBrinde == 'natal' || tipoBrinde == 'maes'"
				 required>
					<option value="" disabled selected>Selecione o item</option>
					<option value="BP017">Brinco Pequeno de R$17,00</option>
					<option value="BP023">Brinco Pequeno de R$23,00</option>
					<option value="BP027">Brinco Pequeno de R$27,00</option>
					<option value="PN017">Pingente de R$17,00</option>
					<option value="PN023">Pingente de R$23,00</option>
					<option value="PN027">Pingente de R$27,00</option>
				</select>
				<input ng-show="tipoBrinde == 'mil'" placeholder="Código" id="codigoBrinde" type="text" ng-model="codigoBrinde" style="text-transform:uppercase"
				 pattern="[A-Za-z]{2}[0-9]{3,6}" title="Código inválido" required>
				<br>
				<button type="submit" class="btn-floating btn-large waves-effect waves-light botaoAmarelo">
					<i class="material-icons">card_giftcard</i>
				</button>
			</div>
		</form>
	</div>
</div>

<div id="avancoNivel" class="modal notificacaoBoa">
	<div class="modal-content  center-align">
		<h4>Parabéns!</br>A partir de agora você é consultora
			<strong>{{nivelConsultor}}</strong>.</br>
			Sua nova comissão é
			<big>{{porcentagem}}</big>
		</h4>
	</div>
	<div class="modal-footer center-align">
		<a href="#!" style="float:none;" class="modal-close waves-effect btn">Entendi!</a>
	</div>
</div>

<troca-modal></troca-modal> -->