<div class="fixed-action-btn venda">
	<a ng-click="modalVenda()" class="btn-floating btn-large botaoAmarelo waves-effect waves-light tooltipped " data-position="left" data-delay="100" data-tooltip="Vender!">
		<i class="large material-icons">attach_money</i>
	</a>
</div>

<div class="row" ng-show="usuario.status!=='Aprovado'">
	<div class="col s12 m12">
		<div class="card center-align red">
			<div class="card-content">
				<h5>Aguardando aprovação</h5>                 
			</div>
		</div>
	</div>
</div>
<span ng-if="usuario.status==='Aprovado'">
	<div class="row" >
		<div class="col s12 m8 offset-m2">
			<div class="card center-align fundoAmarelo ">
				<div class="card-content">
					<span class="card-title">Peças</span>
					<h1>{{usuario.vendido.length}} / {{usuario.estoque.length + usuario.vendido.length}}</h1>
				</div>
				<div class="card-action">
                    <a class="waves-effect waves-light btn" ui-sref="Estoque">Ver Estoque</a>
                </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m12">
			<div class="card center-align fundoAmarelo">
				<div class="card-content">
				<span class="card-title">Próximo Acerto</span>
					<h5>{{usuario.proxAcerto | date: "d/MM/yy"}} ({{ faltamDias(usuario.proxAcerto)}} dias)</h5>
					<div class="row">
						<div class="col s12 m6">
							<div class="card center-align fundoAmarelo">
								<div class="card-content">
									<span class="card-title">Minha parte</span>
									<h1>{{(usuario.totalVendido * usuario.porcentagem)/100 | currency: 'R$'}}</h1>
								</div>
							</div>
						</div>
						<div class="col s12 m6">
							<div class="card center-align fundoAmarelo">
								<div class="card-content">
									<span class="card-title">A pagar</span>
									<h1>{{usuario.totalVendido - (usuario.totalVendido * usuario.porcentagem)/100| currency: 'R$'}}</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m8 offset-m2">
			<div class="card center-align fundoAmarelo ">
				<div class="card-content">
					<span class="card-title">Meu supervisor</span>
					<table class="responsive-table">
						<thead>
						<tr>
							<th data-field="nome">Nome</th>
							<th data-field="whatsapp">Whatsapp</th>
						</tr>
						</thead>

						<tbody>
						<tr>
							<td>{{supervisor.nome}}</td>
							<td>{{supervisor.whatsapp}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</span>



<div id="venda" class="modal bottom-sheet modal-fixed-footer">
    <div class="modal-content center-align">
        <h4>Entrada de Peças</h4>
        <form ng-submit="entrada()" id="entradaForm">
            <div class="input-field col m8 s12 offset-m2">
                <input placeholder="Código" id="codigo" type="text" ng-model="codigo" style="text-transform:uppercase"  pattern="[A-Za-z]{2}[0-9]{6}" title="Código inválido" required>
                <div class="chip" ng-repeat="codigo in adicionando track by $index">
					{{codigo}}
					<i class="right material-icons clicavel" ng-click="deletaElemento(adicionando, $index)">close</i>
				</div>
                <br><input type="submit" class="btn-floating btn-large waves-effect waves-light botaoAmarelo" value="+"/>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn" ng-click="vender()" ng-class="{'disabled': adicionando.length<=0}"><i class="material-icons left">done</i>Concluir</a>
        <a class="waves-effect waves-light btn-flat modal-close" ><i class="material-icons left">close</i>Cancelar</a>
    </div>
</div>