<div class="row">
	<div class="col s12 m12">
		<div class="card fundoAmarelo">
			<div class="card-content">
				<span class="card-title">{{consultor.nome}}</span>
				<div class="chip" ng-class="{'orange': consultor.status==='Pendente', 'red': consultor.status==='Inativo', 'green': consultor.status==='Aprovado'}">
					{{consultor.status}}
					<i class="right material-icons clicavel" ng-click="desaprovar()" ng-show="consultor.status==='Aprovado'">close</i>
				</div>
				<div class="card center-align fundoAmarelo">
					<div class="card-content">
					<span class="card-title">Próximo Acerto</span>
						<h5>{{consultor.proxAcerto | date: "d/MM/yy"}}</h5>		
						<h5>Faltam {{ faltamDias(consultor.proxAcerto)}} dias</h5>
						<h5>Valor devido: {{consultor.porcentagem*consultor.totalVendido/100 | currency: 'R$'}}</h5>
					</div>
				</div>
				<div class="row center-align" ng-show="consultor.status!=='Aprovado'">
					<a class="waves-effect waves-light btn" ng-click="aprovar()">Aprovar</a> 
				</div>
				<table class="responsive-table white">
					<thead>
					<tr>
						<th data-field="nome">Cidade</th>
						<th data-field="whatsapp">Whatsapp</th>
						<th data-field="endereco">Endereço</th>
						<th data-field="cep">Cep</th>
					</tr>
					</thead>

					<tbody>
					<tr>
						<td>{{consultor.cidade}}</td>
						<td>{{consultor.whatsapp}}</td>
						<td>{{consultor.endereco}}</td>
						<td>{{consultor.cep}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="fixed-action-btn botaoAlto">
		<a class="btn-floating btn-large botaoAmarelo tooltipped" data-position="left" data-delay="100" data-tooltip="Excluir" ng-click="del()">
			<i class="large material-icons red">delete_sweep</i>
		</a>
  </div>
</div>
<div class="row">
        <div class="col s12 m12">
            <div class="card center-align fundoAmarelo">
                <div class="card-content">
                    <div class="row">
                        <div class="col m5 s12">
                            <h3>Estoque</h3>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Anéis</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.aneis"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Brincos P</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.brincosP"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Brincos G</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.brincosG"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Cordões Fem.</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.cordoesF"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Cordões Masc.</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.cordoesM"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Pingentes</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.pingentes"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Pulseiras Fem.</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.pulseirasF"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Pulseiras Masc.</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.pulseirasM"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Tornozeleiras</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.tornozeleiras"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Escapulários</b></li>
                                <li class="collection-item" ng-repeat="peca in pecas.escapularios"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                        </div>
                        <div class="col m5 s12 offset-m1">
                            <h3>Vendido</h3>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Anéis</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.aneis"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Brincos P</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.brincosP"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Brincos G</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.brincosG"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Cordões Fem.</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.cordoesF"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Cordões Masc.</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.cordoesM"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Pingentes</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.pingentes"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Pulseiras Fem.</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.pulseirasF"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Pulseiras Masc.</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.pulseirasM"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Tornozeleiras</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.tornozeleiras"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Escapulários</b></li>
                                <li class="collection-item" ng-repeat="peca in vendidas.escapularios"><span class="badge">{{peca.tot}}</span><div>{{peca.val | currency: 'R$'}}</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="excluir" class="modal">
    <div class="modal-content">
      <h4>Excluir</h4>
      <p>Tem certeza que deseja excluir o Supervisor?</p>
    </div>
    <div class="modal-footer">
      <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="excluir()">Excluir</a>
	  <a href="" class=" modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
  </div>