	<ul class="uk-breadcrumb uk-margin-left uk-margin-top"  ng-if="logado">
		<li><a ui-sref="Início" ui-sref-active="uk-active">Início</a></li>
		<li class="uk-active">Relatórios</li>
		<hr>
	</ul>
	<div class="uk-container uk-container-center uk-margin-top">
		<div class="uk-panel uk-margin-bottom">
				<div class="uk-panel uk-panel-box uk-margin-bottom">
					<h2 class="uk-panel-title">Relatórios</h2>
					<hr class="uk-grid-divider">
					<div class="uk-grid">
					<div class="uk-panel uk-margin-bottom uk-width-1-1 uk-width-medium-1-2 uk-padding uk-text-center">
						<h2 class="uk-panel-title">Média de Vendas</h2>
						<ul class="uk-tab" data-uk-tab>
							<li class="uk-active"><a href="">Geral</a></li>
							<li><a href="">Por Região</a></li>
						</ul>
						<div class="uk-panel uk-panel-box-secondary">
							<dl class="uk-description-list-horizontal uk-container-center">
								<dt>Por supervisor</dt>
								<dd>R$00,00</dd>
								<dt>Por consultor</dt>
								<dd>R$00,00</dd>
								<dt>Anel</dt>
								<dd>R$00,00</dd>
								<dt>Pulseira Masc.</dt>
								<dd>R$00,00</dd>
								<dt>Pulseira Fem.</dt>
								<dd>R$00,00</dd>
								<dt>Cordão Masc.</dt>
								<dd>R$00,00</dd>
								<dt>Cordão Masc.</dt>
								<dd>R$00,00</dd>
							</dl>							
						</div>
					</div>
					<div class="uk-paneluk-margin-bottom uk-width-1-1 uk-width-medium-1-2 uk-padding uk-text-center">
						<h2 class="uk-panel-title">Rank</h2>
						<ul class="uk-tab" data-uk-tab>
							<li class="uk-active"><a href="">Geral</a></li>
							<li><a href="">Por Região</a></li>
						</ul>
						<div class="uk-panel uk-panel-box-secondary">
							<dl class="uk-description-list-horizontal uk-container-center">
								<dt>Nome</dt>
								<dd>R$00,00</dd>
								<dt>Nome</dt>
								<dd>R$00,00</dd>
								<dt>Nome</dt>
								<dd>R$00,00</dd>
								<dt>Nome</dt>
								<dd>R$00,00</dd>
								<dt>Nome</dt>
								<dd>R$00,00</dd>
								<dt>Nome</dt>
								<dd>R$00,00</dd>
								<dt>Nome</dt>
								<dd>R$00,00</dd>
							</dl>							
						</div>
					</div>
					<div class="uk-paneluk-margin-bottom uk-width-1-1 uk-width-medium-1-2 uk-padding uk-text-center uk-container-center">
						<h2 class="uk-panel-title">Trocas</h2>
						<div class="uk-panel uk-panel-box-secondary">
							<dl class="uk-description-list-horizontal uk-container-center">
								<dt>Banho</dt>
								<dd>R$00,00</dd>
								<dt>Quebra</dt>
								<dd>R$00,00</dd>
							</dl>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>