:root{
    --primary-color: rgb(109, 177, 241);
    --primary-darken: #3c996e;
    --primary-darker: #bdba31;
    --dark: #373435;
}

.invisible{
    visibility: hidden;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.clicavel{
    cursor: pointer
}

.fundoAmarelo{
    background-color: var(--primary-color) !important;
}
.botaoAmarelo{
    background-color: var(--primary-darken) !important;
}
.botaoVermelho{
    background-color: red !important;
}
.botaoVerde{
    background-color: green !important;
}
.fundoPreto{
    background-color: var(--dark) !important;
}
.fundoBranco{
    background-color: white !important;
}
.textoBranco{
    color: white !important;
}
.textoAmarelo{
    color: var(--primary-darken) !important;
}
.textoPreto{
    color: var(--dark) !important;
}
.textoVermelho{
    color: red !important;
}
.bordaAmarela{
    border: solid var(--primary-darker);
}
.bordaBranca{
    border: solid white;
}
.btn{
    background-color: var(--primary-darken);
    margin-bottom: 5px;
}
.btn:hover, .btn:focus{
    background-color: var(--primary-darker);
}
.botaoAlto{
    bottom: auto !important;
    top: 70px !important;
    right: 10%;
}
.notificacaoBoa{
     color: var(--primary-darken) !important;
     background: white !important;
     font-weight: bold;
     border: solid 3px var(--primary-darken);
}
.notificacaoRuim{
     color: red !important;
     background: white !important;
     font-weight: bold;
     border: solid 3px red;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
    border-bottom: 1px solid var(--primary-darker);
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid var(--primary-darken);
    box-shadow: 0 1px 0 0 var(--primary-darken);
}

.picker__weekday-display{
    background-color: var(--primary-darker);
}
.picker__date-display{
    background-color: var(--primary-darken);
}

.picker__day.picker__day--today, .picker__close, .picker__today, a{
    color: var(--primary-darker);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--primary-darker);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: var(--primary-darker);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: var(--primary-darker);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--primary-darker);
}
  /* label color */
   .input-field label {
     color: var(--primary-darker);
   }
   /* label focus color */
   .input-field input:focus + label {
     color: var(--primary-darker);
     border-bottom: 1px solid var(--primary-darker);
   }
   /* label underline focus color */
   .input-field input:focus {
     border-bottom: 1px solid var(--primary-darker);
     box-shadow: 0 1px 0 0 var(--primary-darker);
   }
   /* valid color */
   .input-field input.valid {
     border-bottom: 1px solid green;
     box-shadow: 0 1px 0 0 green;
   }
   /* invalid color */
   .input-field input.invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: var(--primary-darker);
   }

#toast-container {
  top: auto !important;
  bottom: 10%;
}

.tabs .tab a{
    color:var(--primary-darken);
}
.tabs .tab a:hover, .tabs .tab a.active{
    color:var(--primary-darker)
}

.tabs .indicator{
    background-color: var(--primary-darker)
}
[type=radio]:not(:checked)+label:after, [type=radio]:not(:checked)+label:before{
    background-color: var(--primary-darker);
    border: none;
}
[type=radio].with-gap:checked+label:after, [type=radio]:checked+label:after{
    background-color: white;
    border-color: var(--primary-darken);
}
label{
    color: black;
}

.dropdown-content li>a, .dropdown-content li>span, input:not([type]):focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
    color: var(--primary-darker);
    text-decoration: none;
}

thead{
    border-color: var(--primary-darker);
}

.venda{    
    height: 70px;
    line-height: 70px;
    bottom: 10%;
    right: auto !important;
    left: 45% !important;
}
.venda a{    
    width: 70px !important;
    height: 70px !important;
}
.venda i{
    font-size: 2.5rem !important;
    line-height: 70px !important;
}

.select-wrapper option:first-child{
    display:none;
}

.oculto{
    display:none;
}
#impressao{
    display:none;
}

form.addPeca input[type='number']{
    display:inline;
    margin:0;
    padding:0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
}

[type=checkbox].filled-in:checked+label:after{
    border-color: var(--primary-darken);
    background-color: var(--primary-darken);
}

/* Configuração de impressao de cod de barras */
video.vsc-initialized{
    width:100%;
}

#cameraBotao{
    position: relative;
    margin:0;
    margin-bottom: -100%;
    padding:0;
}

ul{
    overflow: visible;
}

.truncate-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
select{
    display: block;
    color: var(--primary-darker);
    padding: 0;
}

@media print{
    body *{
        visibility:hidden;
        margin:0;
        padding:0;
    }
    @page { 
        size:10cm 1.5cm; 
        margin: 0cm;
    }
    #impressao{
        display: block;
    }
    #impressao, #impressao * {
        visibility: visible;
    }
    #impressao {
        position: absolute;
        left: 0;
        top: 0;
    }
    #impressao td{
        text-align: center;
        width: 2.5cm;
    }
    footer, .card-action, nav, .navbar-fixed, #entrada, .card-title, div{
        display:none;
    }
}