.chip.score {
    background-color: var(--primary-darker);
    color: white;
}

.chip.score label{
    background-color: white;
    color: var(--primary-darker);
    padding: 3px 5px;
    border-radius: 5px;
}
.chip.score i{
    position: relative;
    top: 4px;
    left: -4px;
    margin: 0px;
}
