<div class="row">
    <div class="col s12 m12">
        <div class="card large-card fundoAmarelo">
            <div class="card-content center-align">
                <span class="card-title">Cadastro</span>
                <form ng-submit="cadastro()" name="formulario" id="formulario">
                    <div class="input-field">
                        <label for="nome">Nome</label>
                        <input type="text" ng-model="form.nome" name="nome" required>
                    </div>
                    <div class="input-field">
                        <label for="sobrenome">Sobrenome</label>
                        <input type="text" ng-model="form.sobrenome" name="sobrenome" required>
                    </div>
                    <div class="input-field">
                        <label for="nome">Senha</label>
                        <input type="password" ng-model="form.password" name="nome" required>
                    </div>
                    <div class="input-field">
                        <select style="display:block !important; background-color:#ffd44c; border-color:#997500;" ng-model="form.sexo" required>
                            <option value="" disabled selected>Selecione o gênero</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="whatsapp">WhatsApp</label>
                        <input type="tel" class="telefone" ng-model="form.whatsapp" name="whatsapp" required>
                    </div>
                    <div class="input-field">
                        <label for="nascimento">Nascimento</label>
                        <input type="date" class="datepicker" ng-model="form.nascimento" name="nascimento" required>
                    </div>
                    <div class="input-field">
                        <label for="cpf">CPF</label>
                        <input type="text" ng-model="form.cpf" name="cpf" class="cpf" required>
                    </div>
                    <div class="input-field">
                        <select style="display:block !important; background-color:#ffd44c; border-color:#997500;" ng-model="form.cidade" required>
                            <option value="" disabled selected>Selecione a Cidade</option>
                            <option value="Barbacena">Barbacena</option>
                            <option value="Barroso">Barroso</option>
                            <option value="Belo Horizonte">Belo Horizonte</option>
                            <option value="Betim">Betim</option>
                            <option value="Carandaí">Carandaí</option>
                            <option value="Contagem">Contagem</option>
                            <option value="Ibireté">Ibireté</option>
                            <option value="Mariana">Mariana</option>
                            <option value="Nova Lima">Nova Lima</option>
                            <option value="Ouro Preto">Ouro Preto</option>
                            <option value="Ribeirão das Neves">Ribeirão das Neves</option>
                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                            <option value="Santa Cruz de Minas">Santa Cruz de Minas</option>
                            <option value="São João del Rei">São João del Rei</option>
                            <option value="Senhora dos Remédios">Senhora dos Remédios</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="endereco">Endereço</label>
                        <input type="text" ng-model="form.endereco" name="endereco" required>
                    </div>
                    <div class="input-field">
                        <label for="cep">CEP</label>
                        <input type="text" ng-model="form.cep" name="cep" class="cep" required>
                    </div>
                    <div class="input-field">
                        <input type="checkbox" class="filled-in" id="li-aceito" ng-model="aceito" />
                        <label for="li-aceito">Li e aceito os termos do contrato</label>

                    </div>

                    </br>
                    <p class="center-align clicavel textoAmarelo" style=" color: #997500 !important; text-decoration: underline;" ng-click="verContrato()">(Ver contrato)</p>
                    </br>
                    <input type="submit" value="Cadastrar" class="btn" ng-disabled="!aceito">
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-video" class="modal" style="width:100vw; height:90vh; max-height:none;">
    <div class="modal-content center-align">
        <iframe width="250" height="300" src="https://www.youtube.com/embed/qhBEEAhu_Sw?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0"
            allowfullscreen></iframe>
    </div>
    <div class="modal-footer center-align">
        <a class="btn clicavel modal-action modal-close waves-effect waves-green" style="float: none">Cadastrar agora!</a>
    </div>
</div>

<div id="contrato" class="modal fixed-footer">
    <div class="modal-content">
        <h4>CONTRATO ESTIMATÓRIO</h4>
        <h5>CAPÍTULO I – DO OBJETO</h5>
        <p>
            <b>Cláusula 1ª</b> – O presente contrato tem por OBJETO a entrega em consignação de semijoias de propriedade única e exclusiva
            da AMBAYA ao CONSIGNATÁRIO para que este possa, pelo preço, prazo e condições aqui estabelecidas, vendê-las ou
            restituí-las.
        </p>
        <h5>CAPÍTULO II – DO FORNECIMENTO E DO PREÇO ESTIMADO DAS MERCADORIAS</h5>
        <p>
            <b>Cláusula 2ª</b> - A AMBAYA fornecerá ao CONSIGNATÁRIO, semijoias para que este possa, em períodos preestabelecidos, vendê-las
            e/ou, ao final de cada período, restituir aquelas que não conseguir comercializar. Caso o CONSIIGNATÁRIO tenha
            3 acertos financeiros com a AMBAYA em valores menores que R$ 400,00, o CONSIGNATÁRIO poderá ser desligado da
            parceria.
        </p>
        <p>
            <b>Cláusula 3ª</b> - As semijoias que forem entregues pela AMBAYA serão descriminadas em documentos denominados “Relação
            de Consignados” que, datados e assinados pelas partes, valerão como comprovante de entrega das semijoias ao CONSIGNATÁRIO
            e, posteriormente, serão anexados ao presente contrato, tornando-se partes integrantes deste e valendo também
            como instrumentos que estipularão o início e o término de cada período.
            <br> Parágrafo 1º - O primeiro kit de semijoias será fornecido pela AMBAYA ao CONSIGNATÀRIO no ato da assinatura
            do presente contrato.
            <br> Parágrafo 2º - Os demais kits serão fornecidos no primeiro dia útil subsequente ao dia em que terminar cada
            período, mediante elaboração de nova “Relação de Consignados”, momento em que o CONSIGNATÁRIO também deverá restituir
            as peças em consignação do período anterior que porventura não tenham sido vendidas.
            <br> Parágrafo 3º - O fornecimento e a restituição a que se refere o parágrafo anterior serão realizados em local
            indicado pela AMBAYA.
        </p>
        <p>
            <b>Cláusula 4ª</b> – O CONSIGNATÁRIO, no ato do recebimento dos produtos e antes de firmar o documento a que se refere a
            Cláusula Terceira, deverá conferir as semijoias recebidas, confirmando a regularidade da entrega pela AMBAYA
            quanto a quantidade recebida bem como a integridade das semijoias. Caso haja constatação de qualquer irregularidade,
            o CONSIGNATÁRIO deverá, nesse momento, recusar o recebimento dos produtos bem como a assinatura de aludido documento
            até que a AMBAYA reponha ou complemente as peças defeituosas/faltantes sob pena de, assim não procedendo, aceitar
            tacitamente que recebeu todas as semijoias constantes do documento de “Relação de Consignados” bem como confirmar
            a regularidade de condições das mesmas.
        </p>
        <p>
            <b>Cláusula 5ª</b> – Os preços estimados para cada semijoia também constarão dos documentos “Relação de Consignados” citados
            na Cláusula Terceira, de modo que o CONSIGNATÁRIO estará sempre ciente do valor que competirá à AMBAYA por cada
            mercadoria.
        </p>
        <h5>CAPÍTULO III – DO RECEBIMENTO, DA VENDA E DA RESTITUIÇÃO DAS MERCADORIAS</h5>
        <p>
            <b>Cláusula 6ª</b> – Após assinatura do documento de “Relação de Consignados” e o recebimento dos produtos, os mesmos correrão
            por conta e risco do CONSIGNATÁRIO.
        </p>
        <p>
            <b>Clausula 7ª</b> - O relacionamento comercial estabelecido por meio deste instrumento não se baseará na exclusividade,
            quer por parte do CONSIGNATÁRIO, quer por parte da AMBAYA, podendo o primeiro conduzir suas atividades da forma
            que melhor lhe convier, assumindo os riscos e prejuízos decorrentes de sua atividade comercial. 
            <br>Parágrafo 1º
            - No desempenho de suas atividades o CONSIGNATÁRIO se compromete tão somente em respeitar o Código de Defesa
            do Consumidor nas relações com seus clientes, objetivando a proteção e satisfação dos consumidores e a promoção
            da concorrência leal dentro do regime da livre iniciativa.
        </p>
        <p>
            <b>Cláusula 8ª</b> – O CONSIGNATÁRIO não se exonera de pagar o preço estimado pela mercadoria em razão da inadimplência ou pagamento
            a menor do terceiro com quem ele comercializou a mercadoria, sendo o CONSIGNATÁRIO o único e exclusivo responsável
            pelas tratativas comerciais que estabelece.
        </p>
        <p>
            <b>Cláusula 9ª</b> - O CONSIGNATÁRIO não se exonera da obrigação de pagar o preço estimado pela mercadoria se a restituição da coisa,
            em sua integridade, se tornar impossível, ainda que por fato a ele não imputável.
        </p>
        <p>
            <b> Cláusula 10ª</b> – Na data prevista no parágrafo segundo da cláusula terceira e constante da “Relação de Consignados” vigente,
            o CONSIGNATÁRIO se obriga a restituir as peças que não conseguir comercializar. 
            <br>Parágrafo 1º - Não restituídas
            dentro do prazo CONSIGNATÁRIO será considerado adquirente das mesmas e deverá à AMBAYA o valor estimado para
            cada semijoia não restituída. 
            <br>Parágrafo 2º - Nos casos de restituição, exceto nas hipóteses em que o defeito
            seja decorrente da fabricação, as semijoias que apresentarem avarias, imperfeições ou comprometimento de sua
            integridade, tornando-se impróprias para a venda, serão custeadas pelo ora CONSIGNATÁRIO que pagará por elas
            o valor estimado constante da “Relação de Consignados” que a contém.
            <br>Parágrafo 3º - A AMBAYA emitirá recibo ao
            CONSIGNATÁRIO referente às semijoias que este a restituir.
        </p>
        <h5>CAPÍTULO IV – DO PAGAMENTO</h5>
        <p>
            <b>Cláusula 11ª</b> – O pagamento dos produtos consignados que forem vendidos e/ou não restituídos na data estabelecida será feito
            através de duplicata a qual será preenchida também na data prevista no parágrafo segundo da cláusula terceira
            e constante da “Relação de Consignados” vigente, antes da entrega de um novo kit de semijoias, sendo que ficará
            a cargo das partes a estipulação da data para realização do pagamento. 
            <br>Parágrafo 1º - As duplicatas serão formalizadas
            em nome das partes contratantes e assinadas por elas, sendo que no caso da AMBAYA a assinatura será realizada
            por seu sócio administrador ou qualquer representante por ela devidamente constituído para tal fim. 
            <br>Parágrafo 2º - O não comparecimento na data previamente designada para geração das duplicatas bem como a inadimplência
            no pagamento das mesmas gera imediatamente a faculdade à AMBAYA de cobrá-las por todos os meios jurídicos admitidos,
            bem como de rescindir o presente contrato.
        </p>
        <h5>CAPÍTULO V – DEMAIS DISPOSIÇÕES </h5>
        <p>
            <b>Clausula 12ª</b> - As coisas consignadas não podem ser objeto de penhora ou sequestro pelos credores do CONSIGNATÁRIO, conforme
            previsto nos termo do art. 536 do código civil brasileiro.
        </p>
        <p>
            <b>Cláusula 13ª</b> - O CONSIGNATÁRIO não é representante, nem agente ou procurador da AMBAYA, ficando-lhe, assim, terminantemente
            vedado assumir compromissos em nome da AMBAYA.
        </p>
        <p>
            <b>Cláusula 14ª</b> - Fica vedado ao CONSIGNATÁRIO utilizar ou reproduzir, sob qualquer forma ou pretexto, marcas e expressões comerciais
            da AMBAYA em propagandas, anúncios e publicações, exceto em casos e condições específicas que venham a ser estabelecidas
            e autorizadas por esta.
        </p>
        <p>
            <b>Cláusula 15ª</b> – O CONSIGNATÁRIO fica obrigado a informar à AMBAYA toda e qualquer alteração de seus dados cadastrais, em especial
            o endereço e telefone, sob pena de não poder alegar o não recebimento de comunicados da mesma, em especial as
            de ordem legal, diante de cartórios de títulos, SPC e assemelhados.
        </p>
        <p>
            <b>Cláusula 16ª</b> – O CONSIGNATÁRIO autoriza expressamente que a AMBAYA encaminhe mensagens de texto ao(s) seu(s) número(s) de
            telefone celular constante(s) da primeira página do presente contrato para fins de encaminhamento de conteúdo
            informativo referente à relação comercial existente entre as partes.
        </p>
        <p>
            <b>Cláusula 17ª</b> – O CONSIGNATÁRIO se responsabiliza, sob as penas da lei, pela veracidade das informações por ele fornecidas
            na primeira página do presente contrato bem como pela autenticidade das informações contidas nos documentos e
            comprovantes por ele apresentados e anexados ao presente instrumento.
        </p>
        <p>
            <b>Cláusula 18ª</b> - O presente contrato não gera qualquer vínculo ou obrigação trabalhista ou previdenciária entre as partes contratantes.
        </p>
        <h5>CAPÍTULO VI - DO PRAZO DO CONTRATO</h5>
        <p>
            <b>Cláusula 19ª</b> - O presente instrumento terá prazo indeterminado, contudo as partes podem rescindi-lo a qualquer tempo, sem
            ônus ou explicitação de motivos.
        </p>
        <p>
            <b>Cláusula 20ª</b> - O descumprimento de quaisquer cláusulas deste contrato ou o inadimplemento no pagamento dos numerários devidos,
            total ou parcialmente, não configurará modificação deste contrato ou mesmo adição às suas cláusulas, sendo motivos
            suficientes para a rescisão do presente contrato.
        </p>
        <p>
            <b>Cláusula 21ª</b> - Ocorrendo a rescisão, as partes acordam em desfazer, repor e devolver os produtos ou o numerário devidos umas
            às outras. Se porventura, a CONSIGNANTE der causa ao término do contrato fica obrigada a CONSIGNATÁRIA a deixar
            de vender os produtos consignados a partir da notificação. As mercadorias continuarão sob a responsabilidade
            desta última até a ocasião da devolução.
        </p>
        <h5>CAPÍTULO VII – DO FORO</h5>
        <p>
            <b>Cláusula 22ª</b> - As partes elegem o foro da comarca do Rio de Janeiro/RJ, para dirimirem quaisquer dúvidas provenientes da execução
            e cumprimento do presente contrato.
        </p>
        <p class="center-align">
            Por estarem assim, justas e acordadas, firmam o presente juntamente com 2(duas) testemunhas, tendo o mesmo, nos termos do
            art. 585, inciso II do Código de Processo Civil, força de título executivo extrajudicial.
        </p>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-close waves-effect btn-flat">Fechar</a>
    </div>
</div>