<html>
<head>
    <title>Minha Ambaya</title>
<!-- build:css styles/main.css -->
    <link href="./css/mateirial-icon.css" rel="stylesheet">
    <link href="../node_modules/materialize-css/dist/css/materialize.css" rel="stylesheet">
    <link href="./css/personalizado.css" rel="stylesheet">
    <!--<link href="./css/angularPrint.css" rel="stylesheet">-->
<!-- endbuild -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body ng-app="ambaya" ng-controller="BaseController" class="fundoPreto">
    <ul id="navegacaoLateral" class="side-nav fundoAmarelo textoPreto" >
        <li ng-repeat="link in rotas"><a ui-sref="{{link.nome}}" ui-sref-active="active" class="textoPreto"><i class="material-icons left">{{link.icone}}</i> {{link.nome}}</a></li>
    </ul>
    <div class="navbar-fixed">
        <nav class="fundoAmarelo black-text">
            <div class="nav-wrapper">
                <a href="#" ng-hide="$state.is('Início')" class="textoPreto left" onclick="history.back()"> <i class="material-icons">arrow_back</i> </a>
                <a href="#" ng-show="logado" class="button-collapse textoPreto right" data-activates="navegacaoLateral"><i class="material-icons">menu</i></a>
                <a href="#" class="brand-logo"><img src="img/logo_barra.png" height="100%"></a>
                <ul id="nav-mobile" class="right" ng-show="logado">
                    <li ng-repeat="link in rotas"><a ui-sref="{{link.nome}}" ui-sref-active="active" class="textoPreto hide-on-med-and-down"><i class="material-icons left">{{link.icone}}</i> {{link.nome}}</a></li>
                    <li><a href="" ng-click="sair()" class="textoPreto"><i class="material-icons left">exit_to_app</i> <span class="hide-on-med-and-down">Sair</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <main ui-view="{{tipo}}">
    </main>
    <footer class="page-footer fundoAmarelo">
        <div class="footer-copyright textoPreto">
            <div class="container">
            © 2017 Ambaya Semijoias
            <a class="textoPreto right" href="#!">by WebDrops</a>
            </div>
        </div>
    </footer>

<!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>-->
<!-- build:js scripts/main.js -->
    <script src = "js/angular-ui-router.min.js"></script>
    <script src = "js/jquery.mask.min.js"></script>
    <script src = "js/ngStorage.min.js"></script>
    <!--<script src = "js/angularPrint.js"></script>   --> 
	<script src= "js/angular-barcode.js"></script>
	<!--<script src= "../node_modules/webrtc-adapter/src/js/adapter_core.js"></script>-->
    <script src= "../node_modules/quagga/dist/quagga.min.js"></script>
    
	<!--<script src= "../node_modules/ng-cordova/dist/ng-cordova.min.js"></script>
	<script src= "../node_modules/cordova/cordova.js"></script>-->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/base.controller.js"></script>
    <script src="scripts/controllers/consultor.controller.js"></script>
    <script src="scripts/controllers/consultores.controladoria.controller.js"></script>
    <script src="scripts/controllers/consultores.supervisor.controller.js"></script>
    <script src="scripts/controllers/encomendas.controladoria.controller.js"></script>
    <script src="scripts/controllers/encomendas.estoque.controller.js"></script>
    <script src="scripts/controllers/encomendas.supervisor.controller.js"></script>
    <script src="scripts/controllers/estoque.consultor.controller.js"></script>
    <script src="scripts/controllers/estoque.supervisor.controller.js"></script>
    <script src="scripts/controllers/etiquetas.controller.js"></script>
    <script src="scripts/controllers/historico.consultor.controller.js"></script>
    <script src="scripts/controllers/encomendas.consultor.controller.js"></script>
    <script src="scripts/controllers/inicio.consultor.controller.js"></script>
    <script src="scripts/controllers/inicio.controladoria.controller.js"></script>
    <script src="scripts/controllers/inicio.estoque.controller.js"></script>
    <script src="scripts/controllers/inicio.supervisor.controller.js"></script>
    <script src="scripts/controllers/supervisor.controller.js"></script>
    <script src="scripts/controllers/supervisores.controller.js"></script>
    <script src="scripts/controllers/cadastro.controller.js"></script>
    <script src="scripts/services.js"></script>
<!-- endbuild -->
</body>
</html>