<!DOCTYPE html>
<html lang="pt-br" ng-app="webapp" ng-controller="BaseController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- build:css styles/main.css -->
	<!--<link rel="stylesheet" href="../bower_components/uikit/css/personalizado.css">-->
	<link rel="stylesheet" href="../bower_components/uikit/css/uikit.almost-flat.css">
    <link rel="stylesheet" href="../bower_components/uikit/css/components/tooltip.almost-flat.min.css">
	<link rel="stylesheet" href="../bower_components/uikit/css/components/accordion.almost-flat.min.css">
	<link rel="stylesheet" href="../bower_components/uikit/css/components/notify.almost-flat.min.css">
	<link rel="stylesheet" href="../bower_components/uikit/css/components/sortable.almost-flat.min.css">
	<link rel="stylesheet" href="/css/personalizado.css">
<!-- endbuild -->
	<title>Minha Ambaya - {{$state.current.name}}</title>
</head>
<body class="fundoPreto">
	<div id="sidebar" class="uk-offcanvas">
		<div class="uk-offcanvas-bar">
			<ul class="uk-nav uk-nav-side uk-nav-offcanvas">
				<li ng-repeat="link in rotas"><a ui-sref="{{link.nome}}" ui-sref-active="uk-active"><i class="{{link.icone}}"></i> {{link.nome}}</a></li>
				<!--<li ng-repeat="link in rotas" ng-class="{'uk-active': link.nome == $route.current.scope.titulo}"><a href="{{link.link}}"><i class="{{link.icone}}"></i> {{link.nome}}</a></li>-->
			</ul>
		</div>
	</div>
	<nav class="uk-navbar fundoAmarelo" ng-if="logado">
		<a href="#sidebar" data-uk-offcanvas="{mode:'slide'}" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
		<a ui-sref="Início" class="uk-navbar-brand"><img src="img/logo_barra.png" width="70"></img></a>
		<ul class="uk-navbar-nav uk-hidden-small">			
			<li ng-repeat="link in rotas"><a ui-sref="{{link.nome}}" ui-sref-active="uk-active"><i class="{{link.icone}}"></i> {{link.nome}}</a></li>
			<!--<li ng-repeat="link in rotas" ng-class="{'uk-active': link.nome == $route.current.scope.titulo}"><a href="{{link.link}}"><i class="{{link.icone}}"></i> {{link.nome}}</a></li>-->
		</ul>
		<div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li class="uk-button-dropdown" data-uk-dropdown>
				<a href=""><i class="uk-icon-user"></i> {{usuario.nome}}</a>
				<div class="uk-dropdown uk-dropdown-navbar">
					<ul class="uk-nav uk-nav-navbar">
						<li><a href="#info" data-uk-modal>Minhas Informações</a></li>
						<li><a href="" ng-click="sair()">Sair</a></li>
					</ul>
				</div>
			</li>
        </ul>
    </div>
	</nav>
	<div ui-view="{{tipo}}" ng-if="logado"></div>

	<div class="uk-container uk-container-center uk-margin-top" ng-if="!logado">
		
		<div class="uk-panel uk-margin-bottom uk-text-center">
			<div class="uk-grid uk-grid-match">
				<div class="uk-panel uk-panel-box uk-margin-bottom  uk-width-1-1 uk-container-center">
					<div>
						Minha Ambaya
					</div>
				</div>				
			</div>
			<hr class="uk-grid-divider">
			<div class="uk-grid uk-grid-match">
				<div class="uk-panel uk-panel-box uk-margin-bottom uk-width-1-1 uk-container-center">
					<!--<div>
						Selecione o nível de acesso:
						<select ng-model="nivel">
							<option value="supervisor">Supervisor</option>
							<option value="consultor">Consultor</option>
							<option value="controladoria">Controladoria</option>
							<option value="estoque">Estoque</option>
						</select>
						<button ng-click="login(nivel)">Entrar</button>
					</div>-->
					<form class="uk-form">
						<fieldset data-uk-margin>
							<legend>Login</legend>
							<div class="uk-form-row"><input type="text" placeholder="Usuário" ng-model="usuario.username"></div>
							<div class="uk-form-row"><input type="password" placeholder="Senha" ng-model="usuario.password"></div>
							<div class="uk-form-row"><button class="uk-button" ng-click="login()">Entrar</button></div>							
						</fieldset>
					</form>
				</div>				
			</div>
		</div>
	</div>
	<hr class="uk-grid-divider">
	<div class="uk-grid uk-grid-match">
		<div class="uk-panel uk-panel-box uk-margin-bottom  uk-width-1-1 uk-container-center uk-text-center">
				Ambaya 2017
		</div>				
	</div>
	<div id="info" class="uk-modal">
		<div class="uk-modal-dialog uk-modal-dialog-blank">
			<h1>teste</h1>
		</div>
	</div>

<!-- build:js scripts/main.js -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
	<script src="../node_modules/chart.js/dist/Chart.min.js"></script>
	<script src="../node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
	<script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="../bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script src="../bower_components/uikit/js/uikit.min.js"></script>
    <script src="../bower_components/uikit/js/components/tooltip.min.js"></script>
    <script src="../bower_components/uikit/js/components/accordion.min.js"></script>
    <script src="../bower_components/uikit/js/components/notify.min.js"></script>
	<script src="../bower_components/uikit/js/components/sortable.min.js"></script>
	<script src="../node_modules/angular-barcode/dist/angular-barcode.js"></script>
	<script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
<!-- endbuild -->
</body>
</html>